@import "./common/reset.scss";
@import "./common/variables.scss";
@import "./common/extends.scss";


body {

    margin: 0;

    .wrapper {
        @extend %extend-exapmle;


        .green {
            @extend %extend-exapmle;
            color: green;
        }

        .container {
            @extend %extend-exapmle;
            color: red;
        }

        .white {
            color: white;
        }

    }

    * {
        box-sizing: border-box;
    }

    a {
        display: inline-block;
    }

    img {
        display: block;
    }

    p {
        margin: 0;
    }
}